body {
  font-family: 'Press Start 2P', monospace, sans-serif;
  background: #e60012;
  color: white;
  margin: 0;
  text-align: center;
}
header {
  background: black;
  padding: 1rem;
}
header h1 {
  color: #fff;
}
a {
  color: #fff;
  text-decoration: underline;
}
